<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://localhost:8080/css/styles.css" rel="stylesheet">
</head>

<body>
    <h3>This is main page</h3>
        <a href="http://localhost:8080/user/login.html" class="btn-primary">Login</a>
        <a class="btn-primary">Logout</a>
        <a href="http://localhost:8080/user/form.html" class="btn-primary">Create</a>
        <a href="http://localhost:8080/user/list" class="btn-primary">All users</a>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <ul class="pagination center-block" style="display:inline-block;">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
</body>

</html>